*.elc
backups
semanticdb
places
ede-projects.el
auto-save-list
erc.pass
bookmarks
eshell
elpa

# local stuff
.python-environments
ac-comphist.dat

local-prefs.el
tramp
projectile-bookmarks.eld
projectile.cache
srecode-map.el

newsticker
url
recentf

.emacs.desktop*

anaconda-mode/
ensime/
network-security.data
session.*
abbrev_defs

*.swp
