[submodule "elisp/emacs-rails-reloaded"]
	path = elisp/emacs-rails-reloaded
	url = https://github.com/dima-exe/emacs-rails-reloaded
[submodule "elisp/yaml-mode"]
	path = elisp/yaml-mode
	url = https://github.com/yoshiki/yaml-mode.git
[submodule "elisp/matlab-emacs"]
	path = elisp/matlab-emacs
	url = https://github.com/ruediger/matlab-emacs.git
[submodule "elisp/yasnippet"]
	path = elisp/yasnippet
	url = https://github.com/capitaomorte/yasnippet.git
[submodule "snippets"]
	path = snippets
	url = https://github.com/mizhi/yasnippets.git
[submodule "elisp/emacs-java"]
	path = elisp/emacs-java
	url = https://github.com/mizhi/emacs-java.git
[submodule "elisp/javacc-mode"]
	path = elisp/javacc-mode
	url = https://github.com/mizhi/javacc-mode.git
[submodule "elisp/html5-el"]
	path = elisp/html5-el
	url = https://github.com/hober/html5-el.git
[submodule "html5-syntax"]
	path = html5-syntax
	url = https://github.com/appden/html5-syntax.git
[submodule "elisp/Fill-Column-Indicator"]
	path = elisp/Fill-Column-Indicator
	url = https://github.com/mizhi/Fill-Column-Indicator.git
[submodule "elisp/android-mode"]
	path = elisp/android-mode
	url = https://github.com/remvee/android-mode.git
[submodule "elisp/magit"]
	path = elisp/magit
	url = https://github.com/magit/magit.git
[submodule "elisp/cl-lib"]
	path = elisp/cl-lib
	url = https://github.com/emacsmirror/cl-lib.git
[submodule "elisp/puppet-syntax-emacs"]
	path = elisp/puppet-syntax-emacs
	url = https://github.com/puppetlabs/puppet-syntax-emacs.git
