[submodule "elisp/emacs-rails-reloaded"]
	path = elisp/emacs-rails-reloaded
	url = https://github.com/dima-exe/emacs-rails-reloaded
    branch = master
[submodule "snippets"]
	path = snippets
	url = git@github.com:mizhi/yasnippet-snippets.git
    branch = master
[submodule "elisp/javacc-mode"]
	path = elisp/javacc-mode
	url = https://github.com/mizhi/javacc-mode.git
    branch = master
[submodule "elisp/html5-el"]
	path = elisp/html5-el
	url = https://github.com/hober/html5-el.git
    branch = master
[submodule "html5-syntax"]
	path = html5-syntax
	url = https://github.com/appden/html5-syntax.git
    branch = master
[submodule "elisp/puppet-syntax-emacs"]
	path = elisp/puppet-syntax-emacs
	url = https://github.com/puppetlabs/puppet-syntax-emacs.git
    branch = master
