*.elc
backups
semanticdb
places
ede-projects.el
auto-save-list
erc.pass
bookmarks
eshell
elpa

.python-environments
ac-comphist.dat

local-prefs.el
tramp
projectile-bookmarks.eld
projectile.cache

newsticker
url
recentf

.emacs.desktop*